[core]
	pager = less -R
	autocrlf = input
	whitespace = cr-at-eol
	excludesfile = /Users/mecab/.gitignore

[user]
	name = mecab
	email = mecab@misosi.ru

[color]
	ui = auto

[alias]
	lg = log --graph --date=iso --pretty=format:'%Cgreen%cd %Cblue%cn %Cred%h\n  %Creset%s'
	ll = log --graph --date=iso --stat --pretty=format:'%Cgreen%cd %Cblue%cn %Cred%h\n  %Creset%s'
        la = log --oneline --decorate --graph --branches --tags --remotes
	co = checkout
	st = status
	ci = commit -a
	di = diff
	br = branch

[push]
	default = simple
        
