# from https://blog.gitbutler.com/how-git-core-devs-configure-git/

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true

[help]
        autocorrect = prompt

[commit]
        verbose = true

[rerere]
        enabled = true
        autoupdate = true

[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

[merge]
		conflictstyle = zdiff3

# from the blog end

[core]
	pager = less -R
	autocrlf = input
	whitespace = cr-at-eol,trailing-space,space-before-tab
	excludesfile = ~/.config/git/ignore

[apply]
        whitespace = fix

[user]
	name = mecab
	email = mecab@misosi.ru

[color]
	ui = auto

[alias]
	lg = log --graph --date=iso --pretty=format:'%Cgreen%cd %Cblue%cn %Cred%h\n  %Creset%s'
	ll = log --graph --date=iso --stat --pretty=format:'%Cgreen%cd %Cblue%cn %Cred%h\n  %Creset%s'
        la = log --oneline --decorate --graph --branches --tags --remotes
	co = checkout
	st = status
	ci = commit -a
	di = diff
	br = branch

[push]
	default = simple

[include]
	path = .gittoken

[github]
	user = mecab

[diff "lockb"]
	textconv = bun
	binary = true
